@use "sass:math";

// Define hexagon-related variables
$hexagonTotalWidth: 405px;
$hexagonBorder: 15px;
$hexagonSideLength: math.div($hexagonTotalWidth, 2);
$hexagonHeight: calc($hexagonSideLength * math.sqrt(3));
$hexagonVerticalGap: math.div($hexagonHeight, 4);
$hexagonRotationGap: math.div(calc($hexagonHeight - $hexagonTotalWidth), 2);
