@use "sass:math";
@import "../hex-vars.scss";

.hex1 {
	position: relative;
}
.hex2 {
	position: relative;
	top: math.div(-$hexagonHeight, 2);
	left: calc(
		math.div($hexagonTotalWidth, 2) + math.div($hexagonSideLength, 2) -
			$hexagonBorder
	);
}
.hex3 {
	position: relative;
	top: -$hexagonHeight - $hexagonBorder;
}
.hex4 {
	position: relative;
	top: calc(
		math.div(-$hexagonHeight, 2) - $hexagonHeight * 2 - $hexagonBorder
	);
	right: calc(
		math.div($hexagonTotalWidth, 2) + math.div($hexagonSideLength, 2) -
			$hexagonBorder
	);
}

//This clip path is not perfect. Trying to figure out what it should be has been hard. For now, I'm leaving it.
.hexes {
	display: grid;
	margin: auto;
	width: fit-content;
	background: black;
	border: $hexagonBorder solid black;
	-webkit-clip-path: polygon(
		0% 50%,
		25% 0%,
		75% 0%,
		100% 50%,
		75% 100%,
		25% 100%
	);
}
